.container {
    margin-top: 20px;
  }

  .title {
    color: white;
  }
  
  /* Style the module title */
  .list-group-item div {
    font-weight: bold;
  }
  
  /* Style the submodules */
  .list-group-item ul {
    list-style-type: none;
    padding: 0;
  }
  
  .list-group-item li {
    margin-left: 20px;
  }

  .triangle {
    margin-left: 5px; /* Add some space between the title and the triangle */
    font-size: 12px; /* Adjust the size of the triangle */
    vertical-align: text-top; /* Align the triangle with the text */
  }