.container {
  margin-top: 20px;
}

.title {
  color: white;
}

/* Style the module title */
.list-group-item div {
  font-weight: bold;
}

/* Style the submodules */
.list-group-item ul {
  list-style-type: none;
  padding: 0;
}

.list-group-item li {
  margin-left: 20px;
}

.lesson-card {
  /* height: 180px; */
}

.truncate-text {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* This value defines the number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: grey;
}
