.editor-page {
  text-align: center;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
}

.split {
  display: flex;
  flex-direction: row;
  height: 93vh;
}


.gutter {
  background-color: black;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
  cursor: col-resize;
}

#lesson {
  overflow-x: hidden;
  overflow-y: auto;
}