.markdown-body {
  font-size: 0.6em;
}

.instruction-divider {
  font-family: -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Noto Sans',
  'Helvetica', 'Arial', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  background-color: #353B45;
}

code {
  color: inherit;
}

#lesson {
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgb(13, 17, 23);
}

.module-path:hover{
  color: lightblue;
  text-decoration: underline;
}

.markdown-body ul.contains-task-list {
  padding: 0px;
}
