#editor {
  margin-left: 30px;
}

#yourcode {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  width: 95%;
  height: 45vh;
  min-height: 400px;
  padding: 10px;
  font-size: small;
}

#mycanvas {
  background-color: lightgrey;
  width: 400px;
  height: 400px;
}
#output {
  display: inline-block;
  background-color: white;
  color: black;
  text-align: left;
  height: 15vh;
  width: 100%;
  margin: 10px;
  font-size: small;
}