  code,
  kbd,
  pre,
  textarea,
  /* .write, */
  .draw {
    font-family: var(--ff-mono);
    font-feature-settings: normal;
    font-size: smaller;
  }

  .write {
    color: black;
  }
  
  .page-header {
    font-size: inherit;
    margin: calc(1 * (1em + 1ex));
  }
  
  .editor,
  .result {
    position: fixed;
    top: calc(3 * (1em + 1ex));
    bottom: 0;
    overflow: auto;
  }
  
  .editor {
    left: 0;
    width: 50%;
  }
  
  .result {
    right: 0;
    left: 50%;
    padding: calc(1em + 1ex);
  }
  
  .editor-inner {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    margin: 8px;
  }
  
  /* .write, */
  .draw {
    font-size: 14px;
    tab-size: 4;
    letter-spacing: normal;
    line-height: calc(1 * (1em + 1ex));
    white-space: pre-wrap;
    word-wrap: break-word;
    background: transparent;
    box-sizing: border-box;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    resize: none;
  }
  
  /* .write::selection {
    color: var(--color-fg);
    background-color: hsl(42.22deg 74.31% 57.25% / 66%);
  } */
  
  .write {
    position: absolute;
    top: 0;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    color: black;
    caret-color: var(--color-hl);
  }
  
  
  .show-big {
    display: none;
  }

