body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  background-color: #282c34;
  height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

#yourcode {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#editor {
  margin-left: 30px;
}

#output {
  display: inline-block;
  background-color: white;
  color: black;
  text-align: left;
  width: 100%;
  height: 15vh;
  padding: 10px;
  font-size: small;
}

#mycanvas {
  background-color: grey;
  width: 400px;
  height: 400px;
}

#yourcode {
  width: 20vw;
  height: 40vh;
  padding: 10px;
  font-size: small;
}

.split {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.gutter {
  background-color: black;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
  cursor: col-resize;
}
